---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - l2sces.l2sm.io
  resources:
  - sliceoverlays
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - l2sces.l2sm.io
  resources:
  - sliceoverlays/finalizers
  verbs:
  - update
- apiGroups:
  - l2sces.l2sm.io
  resources:
  - sliceoverlays/status
  verbs:
  - get
  - patch
  - update
