# This rule is not used by the project l2sces-init itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the l2sces.l2sm.io.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: l2sces-init
    app.kubernetes.io/managed-by: kustomize
  name: sliceoverlay-editor-role
rules:
- apiGroups:
  - l2sces.l2sm.io
  resources:
  - sliceoverlays
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - l2sces.l2sm.io
  resources:
  - sliceoverlays/status
  verbs:
  - get
